body {
  background: url(habesha_store_bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
#logo {
  width: 278px;
  height: 112px;
  margin: 0 auto;
  padding-top: 40px;
  background: url("habesha_store_logo.png") no-repeat bottom center;
}

#content {
  background-color: #fff;
  border: 3px double #333;
  border-radius: 10px;
  color: #333;
  padding: 30px 50px;
  margin: 20px auto 50px;
  max-width: 880px;
  min-height: 4em;
  overflow: auto;
  text-align: center;
}
